<footer class="AppFooter relative z-0 overflow-hidden" x-data="AppFooter">
  <div class="container pt-144 lg:pt-global">
    <div class="col-span-default lg:col-start-3 lg:col-span-8">
      {{ FooterContact }}
    </div>
  </div>

  <div class="AppFooter__Nav container pt-global bg-black text-white">
    <div class="AppFooter__Primary grid grid-cols-10 gap-x-gutter items-start mb-56 lg:mb-80">
      <div class="row-start-1 col-span-full lg:col-span-1">
        <div class="AppFooter__Brand">
          {% include '@Components/Icon/Icon.twig' with { icon: 'logo-unicorn', title: 'Digitas', class: 'AppFooter__Logo fill-current' } only %}
        </div>
      </div>

      <div class="row-start-1 col-start-3 col-span-4 lg:col-span-3">
        {% if socials and socials.items %}
          <div class="mb-10 lg:mb-16 leading-16">
            <span class="cap-title-small-italic not-italic uppercase lg:text-16 lg:leading-none">
              {{- socials.menu_name -}}
            </span>
          </div>
          <ul class="cap-small">
            {% for item in socials.items %}
              <li>
                <a href="{{ item.link }}" target="_blank" rel="nofollow noopener">
                  {{- item.title -}}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="row-start-1 col-start-7 col-span-4 lg:col-start-5 lg:col-span-6">
        {% if menu and menu.items %}
          <ul class="flex flex-col lg:flex-row lg:justify-end -m-16 lg:my-0 lg:-mx-32 leading-16">
            {% for item in menu.items %}
              <li class="py-16 lg:py-0 lg:px-16">
                <a class="p-16" href="{{ item.link }}">
                  <span class="cap-title-small-italic not-italic uppercase lg:text-16 lg:leading-none pointer-events-none">
                    {{- item.title -}}
                  </span>
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>

    <div class="AppFooter__Secondary pb-12 lg:pb-0 border-t border-gray-600 cap-small leading-none">
      <div class="flex flex-wrap justify-center items-center lg:-mx-16">
        <ul class="order-last lg:order-2 flex flex-wrap justify-center w-full lg:w-auto divide-x divide-current lg:ml-auto py-20 border-t border-gray-600 lg:border-t-0">
          <li class="px-8 lg:px-16">&copy;2021 Digitas</li>
          <li class="px-8 lg:px-16">A Publicis Groupe Company</li>
        </ul>
        <ul class="lg:order-1 flex -ml-16 my-20 lg:mx-0 lg:my-0 divide-x lg:divide-x-0 divide-current lg:space-x-gutter">
          <li class="px-8 lg:px-16 lg:w-col-1/12"><a href="/iframe.html?id=pages-pressroom--pressroom">Pressroom</a></li>
          <li class="px-8 lg:px-16 lg:w-col-1/12"><a href="#mediakit">Mediakit</a></li>
        </ul>
        <ul class="lg:order-3 flex divide-x divide-current -mr-16 my-20 lg:mx-0 lg:my-0 border-l border-current">
          <li class="px-8 lg:px-16"><a href="#privacy">Privacy</a></li>
          <li class="px-8 lg:px-16"><a href="/iframe.html?id=pages-terms-of-use--terms-of-use">Terms of use</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
